<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main_layout.html">

<div layout:fragment="siteContent">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>SURNAME</th>
            <th>EXAM</th>
            <th>MARK</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}" th:style="${student.exam < 50 ? 'color: red;' : 'color: black;'}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.surname}"></td>
            <td th:text="${student.exam}"></td>
            <td th:text="${student.mark}"></td>
        </tr>
        </tbody>
    </table>
</div>

</html>